* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100vh;
    /* overflow: hidden to allow drag-header (aka drag controller and drag layers to not
        create a scroll when dragged outside the window) */
    overflow: hidden;
}

.canvas-container {
    height: 95%;
    background-color: #191919;;
    overflow: auto;
    margin: 0 auto;
}


.canvas {
    /* background-image: url("../assets/checkers.png"); */
    background-repeat: repeat;
    padding: 0;
    /* margin: 0 auto; */
    display: block;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    border: 1px solid red;
    /* overflow: hidden; */
    /* background-color: black;  */
}









.drag-header {
    cursor: move;
    z-index: 10;
    background-color: #167DA6;
    min-width: 170px;
}
.controller {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    background-color: #444444;
    border: 1px solid #000;
}
.toolbar-container {
    height: 5%;
    padding: 0px 37%;
    background-color: #167DA6;
}

.toolbar {
    width: 700px;
}

/* turn off all button type styling for now */
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.glyphicon {
    font-size: 24px;
}

button:hover {
    background-color: #292929;
}
/* keeping default input type file box hidden */
input[type="file"] {
    display: none;
}





/* Styling for home page */

.lymlive-logo {
    height: 150px;
    width: 500px;
    background-image: url(http://lymlive.com.au/wp-content/uploads/2018/01/Lymlive_Media_on_Black_npb.png);
    background-size: 500px ;
    background-repeat: no-repeat;
    margin: 50px auto;
    /* text-align: center; */
}

.home-background {
    /* 
        position: absolute;
        Due to margin collapsing of edit-selection
        Where the collapsed margin ends up outside the parent
    */
    position: absolute;
    width: 100vw;
    height: 100vh;

    /* background-image: url("/assets/background-image.png");  */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* filter: blur(1px); */

    text-align: center;
}

.edit-selection {
    width: 850px;
    height: 400px;
    padding: 10px 2% 0 2%;
    margin: 10% auto;
    background-color: rgba(43, 43, 43, 0.2);
    /* background-color: rgba(22, 125, 166, 0.3); */
}



/* Font */

/* @font-face {
    font-family: 'abel-regular';
    src: url("/php/fonts/abel/Abel-Regular.ttf") format('truetype'),
        url("/php/fonts/abel/Abel-Regular.woff2") format('woff');
  } */

@font-face {
    font-family: 'abel';
    src: url("/php/fonts/abel/Abel-Regular.ttf") format('truetype');
        /* url("/php/fonts/abel/Abel-Regular.woff2") format('woff'); */
}