<!-- <body ng-controller="mainController"> -->
    <body>
        <div class="canvas-container" id="ghost">
            <canvas id="canvas" class="canvas"></canvas>
    
            <div
                ng-controller="dragController"   
                id="layers" 
                class="controller"
                style="left: 0px; top: 50px;">
                
                <div id="layersheader" class="drag-header" ><button  ng-click="minimise('controller')">X</button></div> 
                <!-- Layers: layers options goes here  -->
                <div class="layer-canvas-wrapper" style="overflow-y: scroll; height: 500px;">
                    <div 
                    style="text-align: center;"
                    ng-repeat="(key, value) in $parent.state.layers">
                        <canvas 
                            id="{{key}}Layer"
                            width="130" 
                            height="100"
                            style="margin: auto;">
                        </canvas>
                    </div>
                </div>

                <div class="edit-options-container">
                    <!-- Text: edit options -->
                    <div 
                        ng-show="state.isActiveObject.type === 'text' ? true : false"
                        class="text-edit-options">
                        <div class="row">
                                <textarea 
                                    ng-model="state.isActiveObject.text"
                                    placeholder="Text here!"
                                    rows="4" 
                                    cols="20"></textarea>
                        </div>
                        <div class="row">
                            <input 
                                type="number"
                                ng-model="state.isActiveObject.fontSize"
                                ng-change="renderAll()">
                        </div>
                        <div class="row">
                            <select 
                                ng-options="font for font in state.fonts" 
                                ng-init="state.font = state.fonts[0]"
                                ng-model="state.font" 
                                ng-change="fontChanged()"></select>
                        </div>
                        <div class="row">
                            <input 
                                type="color" 
                                value="{{state.isActiveObject.fill}}"
                                ng-model="state.isActiveObject.fill"
                                ng-change="renderAll()">
                        </div>
                        <div class="row">
                            <!-- opacity: {{state.isActiveObject.opacity}}
                            <input 
                                id="scale" 
                                ng-model="state.isActiveObject.opacity"
                                type="range"
                                max="1" 
                                min="0" 
                                step=".01"
                                ng-change="renderAll()"/>                             -->
                        </div>

                        <div class="row">
                            <input 
                                type="color" 
                                ng-model="state.isActiveObject.textBackgroundColor"
                                ng-change="renderAll()">
                        </div>

                        <div class="row">
                            <div class="row">
                                <select 
                                    ng-options="align for align in state.textAlign" 
                                    ng-init="state.align = state.textAlign[0]"
                                    ng-model="state.isActiveObject.textAlign" 
                                    ng-change="renderAll()"></select>
                            </div>
                        </div>
                        <div class="row">
                                <div class="row">
                                    <select 
                                    ng-options="weight for weight in state.fontWeight" 
                                    ng-init="state.weight = state.fontWeight[0]"
                                    ng-model="state.isActiveObject.fontWeight" 
                                    ng-change="renderAll()"></select>
                                </div>
                            </div>
                        <div class="row">
                            <div class="row">
                                <select 
                                ng-options="height for height in state.lineHeight" 
                                ng-init="state.height = state.lineHeight[0]"
                                ng-model="state.isActiveObject.lineHeight" 
                                ng-change="renderAll()"></select>
                            </div>
                        </div>
                    </div>

                    <!-- Image: edit options -->

                    <div 
                        ng-show="state.isActiveObject.type === 'image' ? true : false"
                        class="text-edit-options">
                        <div class="row">
                            opacity: <input type="number" ng-model="state.isActiveObject.opacity" ng-change="renderAll()">
                        </div>
                    
                    </div>







                    <button 
                    title="Rotate: When an item is clicked!"
                    ng-click="addRotateHandler(90)">Rotate</button>
                
                    <button 
                    title="Crop: When an item is clicked!"
                    ng-click="cropHandler()">Crop</button>
    
                    <br>
                    
                    <button 
                    title="Flip: Horizontal!"
                    ng-click="setImageFlip('horizontal')">Flip H</button>
    
                    <button 
                    title="Flip: Horizontal!"
                    ng-click="setImageFlip('vertical')">Flip V</button>
    
                    <br>
    
                    <button 
                    title="Flip: Horizontal!"
                    ng-click="deleteLayer()">Delete</span></button>
                    </div>
            </div>
            
            <div
                ng-controller="dragController"   
                id="controller" 
                class="controller"
                style="top: 50px; left: 85vw;">
    
                <div id="controllerheader" class="drag-header" ><button ng-click="minimise('controller')">X</button></div> 
                <button
                    ng-repeat="(key, value) in showControllers"
                    ng-click="openController(key)"
                    style="color: white;">
                        {{ key }}
                </button>
    
                <div 
                    style="height: 400px; padding: 30px">
    
    
                    <!-- Text: text options goes here   -->
                    <div ng-show="showControllers.Text">
                        <div class="row">
                            <!-- <input 
                                type="text" 
                                ng-model="state.textString"
                                class="text"
                                placeholder="Text"> -->
                                <textarea 
                                    ng-model="state.textString"
                                    placeholder="Text here!"
                                    rows="4" 
                                    cols="20"></textarea>
                        </div>
                        <div class="row">
                            <input 
                                type="number"
                                ng-model="state.fontSize">
                        </div>
                        <div class="row">
                            <select 
                                ng-options="font for font in state.fonts" 
                                ng-init="state.font = state.fonts[0]"
                                ng-model="state.font" ng-change="getFont()"></select>
                        </div>
                        <div class="row">
                            <input 
                                type="color" 
                                ng-model="state.fontColor">
                        </div>
                        <div class="row">
                            <button 
                                ng-click="addTextHandler(10, 30)" 
                                class="btn btn-success">Add Text</button>
                        </div>
                    </div>
    
                    <!-- Image: image options goes here  -->
                    <div ng-show="showControllers.Image">
                        <div class="row">
                            <label title="Add image" style="cursor: pointer;">
                                <input 
                                    type="file" 
                                    id="addImgFile" 
                                    accept=".png, .jpg, .jpeg"
                                    style="width: 160px;"/>
                            </label>
                        </div>
                        <div class="row">
                            <button 
                                class="btn btn-success" 
                                ng-click="addImageHandler()">
                                    Add Image
                            </button>
                        </div>
                    </div>
    
                    <!-- Clip Art  -->
                    <div 
                        ng-show="showControllers['Clip Art']"
                        class="row"
                        ng-repeat="(key, value) in $parent.state.clipArt"
                        ng-click="addClipArtHandler(value)">
                            <canvas 
                            id="{{value}}ClipArt"
                            
                            style="background:white;">
                            </canvas> <br>
                            click red clipart
                    </div>
    
                </div>
            </div>
    
           
        </div>
    
        
        <div class="toolbar-container">
            <div class="toolbar">
                <label title="Import background" style="cursor: pointer;">
                    <input 
                        type="file" 
                        style="display: none;"
                        id="imgFile" 
                        accept=".png, .jpg, .jpeg" 
                        onchange="angular.element(this).scope().importImg(event)"/>
                    <span class="glyphicon glyphicon-import"></span>
                </label>
               <button 
                    ng-click="uploadCanvas(state.canvas)"
                    title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
               <button
                ng-click="uploadCanvas(state.canvas)"
                title="Upload">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
               <!-- <button title="Download JSON"><span class="glyphicon glyphicon-download-alt"></span></button> -->
               <button 
                    title="Undo" 
                    ng-click="undo()">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>
               <button 
                    title="Redo">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                </button>
               |
               <button 
                    title="Zoom-Out"
                    ng-click="zoomHandler('out')"><span class="glyphicon glyphicon-zoom-out"></span></button>
                
                    {{state.scale * 100}}%
               <button 
                    title="Zoom-In"
                    ng-click="zoomHandler('in')">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
                
                
               <!-- <button title="Crop (Situational when image is selected it will show?)"><span class="glyphicon glyphicon-circle-arrow-right"></span></button> -->
                
    
               <!-- <button ng-click="calTextHeight('Arial', 50)">Click Me!</button> -->
            </div>
        </div>
    
    
        
    </body>
    
    